/**
 * @Author: Ali
 * @Date:   2018-12-24T08:34:29+01:00
 * @Last modified by:   Ali
 * @Last modified time: 2019-01-17T16:41:56+01:00
 */

.App {
  text-align: center;
}
.quotes {
  margin: 0 auto;
}
.jumbotron {
  margin-top:50px;
  padding: 25px 10px 0 10px;
  box-shadow: 10px 10px 5px black ;
  border-radius: 25px;
}
