/**
 * @Author: Ali
 * @Date:   2018-12-24T08:34:29+01:00
 * @Last modified by:   Ali
 * @Last modified time: 2019-01-01T14:48:52+01:00
 */

.App {
  text-align: center;
}
.quotes {
  border: 5px #f3a683 solid;
  background-color: white;
}
